.navbar{
    display: flex;
    justify-content: space-around;
    background-color: black;
}

.left{
    display: flex;
    justify-content: space-evenly;
}

.right{
    display: flex;
    justify-content: space-between;
}
.top-text{
    color: white;
    padding: 10px;
}
.two-nav{
    font-size: 17px;
    margin: 20px;
}

.font{
    font-family: 'Playfair Display', serif;
}

.name{
    font-size: 37px;


}

.nav-btn{
    border: 1px solid black;
    padding: 8px;

}

.sub{
    width: 120px;
}
.user{
    width: 40px;
}
.cont-quote{
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.line-1 {
    height: 2px;
    background: black;
    width: 40%;

  }

.centered-quote{
    display: flex;
    justify-content: center;
    width: 300px;
}


